<!--<p>about works!</p>-->

<h1 class="display-1 text-center">{{ titol }}</h1>
<hr>
<h2 class="text-center">{{ subtitol }}</h2>
<h3 class="text-center">
    <a href="mailto:{{ mail }}">{{ mail }} </a></h3>

    <!-- contenidor marketing_______________________________________________ -->
<div class="container marketing">
    <!-- 3 columnes -->
    <div class="row text-center py-4 my-2 border-top border-bottom">
      
      <div class="col-lg-4">
        <img src="assets/img/TOMATO.png" class="rounded w-50 p-3" alt="...">
        <h2>Què és ?</h2>
        <p>És un gestor pels teus projectes de l'hort. Les gallines fliparan</p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <img src="assets/img/TOMATO.png" class="rounded w-50 p-3" alt="...">
        <h2>Com és ?</h2>
        <p>Àgil, ràpid, segur, la més pura sinergia entre Angular i Node.js</p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <img src="assets/img/TOMATO.png" class="rounded w-50 p-3" alt="...">
        <h2>Qui l'ha fet?</h2>
        <p>Fet per aleon, un ignorant de l'informàtica i que fa el què pot</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

</div><!-- /.container -->